/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #f0f2f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

#page-border {
	margin: 50px 50px 0;
	float: left;
}

#page {
	background-color: #fff;
	/* 42px gives 50px to the top line of the logo text (8px padding inside the image) */
	padding: 42px 0 50px 0;

	border: 1px solid #ccc;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

#header {
	margin: auto;
	padding: 0px 50px 0px 50px;
}

#pageContent {
	/* 42px gives 50px to the bottom line of the logo text (8px for the 'Q' tail) */
	margin: 42px 50px 0 50px;
}

#content {
	margin: 0;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0;
}

.Header {
	font-size: 16px;
	font-weight: bold;
}

.ListingOptions {
	margin-bottom: 1.5em;
	margin-left: 0.5em;	
}

/*---- footer --------------------- */
#Footer {
	color: #808080;
	clear: both;
	font-size: 11px;
	width: 800px;
	margin: 10px auto;
	margin-bottom: 50px;
}

#Footer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#Footer ul li {
	display: inline;
	margin-right: 1.5em;
}

#Footer span {
	text-align: left;
}

#FooterCopyright {
	float: right;
}
#ProductInfo, #BrowserInfo {
	float: left;
}
