/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #f0f2f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.33em;
	line-height: normal;
	color: #333333;
	margin: 0em;
	padding: 0em;
}

#siteContainer {
	background-color: #fff;
	margin: auto;
	margin-top: 5em;
	padding: 3em 0em;
	border: 0.1em solid #ccc;
	-moz-border-radius: 4em;
	-webkit-border-radius: 4em;
	border-radius: 4em;
	-moz-box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.2);
	box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.2);
}

#header {
	margin: auto;
	padding: 0em 5em;
	height: 6em;
}

#body {
	margin: auto;
	margin-left: 5em;
	margin-right: 5em;
	padding-bottom: 3em;
	clear: both;
}

#productLogo {
	float: left;
	margin-top: 1em;
}

.listingOptions {
	margin-bottom: 1.5em;
	margin-left: 0.5em;
}

/*---- footer --------------------- */
#footer {
	color: #808080;
	clear: both;
	font-size: 0.8em;
	width: 70em;
	margin: 1.5em auto;
	margin-bottom: 5em;
}

#footer ul {
	margin: 0em;
	padding: 0em;
	list-style-type: none;
}

#footer ul li {
	display: inline;
	margin-right: 1.5em;
}

#footer span {
	text-align: left;
}

#footerCopyright {
	float: right;
}

#productInfo {
	float: left;
}